@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.footer-section {
    @media (min-width: $tablet) {
        @include flexRow;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
    }
    cite {
        font-size: 0.75rem;
    }

    div {
        @media (min-width: $tablet) {
            @include flexRow;
        }

        ul {
            @include flexRow;
            justify-content: space-between;

            li {
                padding: 0 1rem;

                a {
                    color: $color__main-text;
                    border-bottom: 2px solid $color__accent;

                    @include tabletQuery {
                        border-bottom: none;
                    }
                    
                    &:hover {
                        border-bottom: 2px solid $color__accent;
                    }
                }
            }
        }
    }
}
