@use "../../base/variables" as *;
@use "../../base/mixins" as *;

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 80;
    background-color: $color__nav-background; // Mobile footer bar styles
    backdrop-filter: blur(3px);
    border-top: 1px solid rgba(255, 255, 255, 0.8);

    @include tabletQuery {
        @include flexRow;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        background-color: transparent; // Undo mobile footer bar styles
        backdrop-filter: none;
        border-top: none;
    }

    .footer-container {
        @include tabletQuery {
            @include flexRow;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px; // Makes footer responsive
            width: 100%;
            margin: 0 2rem;
        }

        @include desktopQuery {
            margin: 0 auto;
        }

        cite {
            font-size: 0.75rem;
            display: none;
            @include tabletQuery {
                display: block; // Display copyright
            }
        }

        div {
            // Footer Icon Links

            ul {
                @include flexRow;
                justify-content: space-between;
                text-transform: capitalize;
                margin: 0.5rem auto;

                li {
                    
                    @include tabletQuery {
                        transition: all 0.3s ease-out; //Animation: Text drops back to default
                        margin-left: 0.5rem; 
                    }
                    
                    &:hover {
                        transform: translateY(-0.25em);
                        transition: all 0.3s ease-out; //Animation: Text lifts upwards
                    }

                    a {
                        color: $color__main-text;
                        transition: all 0.3s ease-out; //Animation: Accent colour fades out
                        padding: 0 1rem;

                        &:hover {
                            color: $color__accent;
                            transition: all 0.3s ease-out; //Animation: Accent colour fades in
                        }
                    }
                }
            }
        }
    }
}
