@use "../base/variables" as *;
@use "../base/mixins" as *;

.footer-section {
    @include flexRow;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    // position: absolute;

    div {
        @include flexRow;
        // align-items: center;

        ul {
            @include flexRow;
            justify-content: space-between;
            // align-items: center;

            li {
                padding: 0 1rem;

                a {
                    color: $color__main-text;

                    &:hover {
                        border-bottom: 2px solid $color__accent;
                    }
                }
            }
        }
    }
}