@use "../base/variables" as *;
@use "../base/mixins" as *;

.main-projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @include largeTabletQuery {
        grid-template-columns: 1fr 1fr;
    }
}