@use "../base/variables" as *;
@use "../base/mixins" as *;

.project-nav-container {
    @include flexRow;
    overflow-x: scroll;
    margin: 0 auto;
    // padding: 7rem 2rem 2rem;

    a {
        &:hover {
            color: $color__main-text;
        }
    }

    .nav-card-container {
        width: 350px;
        margin: 0 1rem;

        .img-container {
            border-radius: 15px;
            box-shadow: $color__card-shadow;

            img {
                display: block;
                overflow: hidden;
                border-radius: 15px;
                filter: grayscale(100%) brightness(100%);

                &:hover {
                    filter: grayscale(0%) brightness(100%);
                    transition: filter .08s linear;
                }
            }
        }
    }
}
