@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.page-home {
    @include desktopQuery {
        @include paddingTop;
    }

    .main-projects-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
    
    .welcome-message {
        max-width: 800px;
        margin: 0 auto 4rem;
    }
}

// Hide scroll bar for Safari Browser
.page-home::-webkit-scrollbar { // WebKit
    @include hideWebkitScrollbar;
}