@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.project-card-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
    border-radius: 15px;
    transition: all 0.3s linear;

    &:hover,
    &:focus {
        background: $color__card-background;
        box-shadow: $color__card-shadow;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        transform: translateY(-0.25em);
        transition: all 0.3s linear;
    }

    a {
        &:hover {
            color: $color__main-text;
        }
    }

    .card-img-container {
        border-radius: 15px;
        box-shadow: $color__thumbnail-shadow;
        aspect-ratio: 3/2;

        img {
            display: block;
            overflow: hidden;
            border-radius: 15px;
        }
    }
    .project-type-container {
        ul {
            @include flexRow;
            justify-content: flex-end;

            li {
                margin-left: 1rem;

                &:last-child() {
                    margin-left: 0;
                }
            }
        }
    }
}
