@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.project-card-container {
    max-width: 500px;
    margin: 0 auto;

    a {
        &:hover {
            color: $color__main-text;
        }
    }

    .card-img-container {
        border-radius: 15px;
        box-shadow: $color__card-shadow;
        aspect-ratio: 3/2;
        transition: all 0.3s linear;

        &:hover,
        &:focus {
            box-shadow: $color__button-hover-shadow;
            transform: translateY(-0.25em);
            transition: all 0.3s linear;
        }

        img {
            display: block;
            overflow: hidden;
            border-radius: 15px;
        }
    }
    .project-type-container {
        ul {
            @include flexRow;
            justify-content: flex-end;

            li {
                margin-left: 1rem;

                &:last-child() {
                    margin-left: 0;
                }
            }
        }
    }
}
