@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.project-navigation {
    max-width: 820px;
    margin: 0 auto;

    h3 {
        &:first-of-type { // For "More Projects" Subheading
            text-transform: capitalize;
        }
    }
    // Undo Home Page's content scroll with fixed bkg for project navigation
    .page-home {
        padding-top: 0;
        height: fit-content;
        overflow-y: visible;
        z-index: 60;

        .welcome-message {
            display: none;
        }

        // Project Navigation Carousel
        .main-projects-container {
            @include flexRow;
            overflow-x: scroll;
            margin: 0 auto;
            padding: 2rem 0;

            .project-card-container {
                padding: 1.25rem 1rem 0 1rem;
                div {
                    width: 280px; //Set thumbnail size

                    .card-text-container {
                        margin-bottom: 0;
                        p {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
