@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.page-single-project {
    .single-hero-container {
        width: 100%;
        aspect-ratio: 3/2;

        @include largeTabletQuery {
            aspect-ratio: 4/2;
        }
    }
    .welcome-message {
        display: none;
    }

    // Undo Home Page's content scroll with fixed bkg for navigation
    .page-home {
        padding-top: 0;
        height: fit-content;
        overflow-y: visible;
        z-index: 60;

        // Project Navigation
        .main-projects-container { 
            @include flexRow;
            overflow-x: scroll;
            margin: 0 auto;
            padding: 2rem 0;

            .project-card-container {
                div {
                    width: 350px;
                    margin: 0 1rem;
                    filter: grayscale(100%) brightness(100%);
                    transition: all 0.3s linear;

                    &:hover {
                        filter: grayscale(0%) brightness(100%);
                        transform: translateY(-0.25em);
                        transition: all 0.3s linear;
                    }

                    .card-img-container {
                        border-radius: 15px;
                        box-shadow: $color__card-shadow;
                        width: 100%;
                        aspect-ratio: 3/2;

                        img {
                            display: block;
                            overflow: hidden;
                            border-radius: 15px;
                        }
                    }
                    .card-text-container {
                        p {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
