@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.page-single-work {
    .single-hero-container {
        width: 100%;
        aspect-ratio: 3/2;

        @include largeTabletQuery {
            aspect-ratio: 4/2;
        }
    }

    .main-projects-container {
        @include flexRow;
        overflow-x: scroll;
        margin: 0 auto;
        padding: 2rem 0;

        .project-card-container {
            div {
                width: 350px;
                margin: 0 1rem;

                .card-img-container {
                    border-radius: 15px;
                    box-shadow: $color__card-shadow;
                    width: 100%;
                    aspect-ratio: 3/2;
                    
                    img {
                        display: block;
                        overflow: hidden;
                        border-radius: 15px;
                        filter: grayscale(100%) brightness(100%);
                        transition: all .3s linear;
        
                        &:hover {
                            filter: grayscale(0%) brightness(100%);
                            box-shadow: $color__button-hover-shadow;
                            transform: translateY(-0.25em);
                            transition: all .3s linear;
                        }
                    }
                }
                .card-text-container {
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}
