@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.stats-container {
    @include largeTabletQuery {
        width: 860px;
        margin: 0 auto;
    }

    // Project Title
    .title-container {
        @include flexColumn;

        @include largeTabletQuery {
            @include flexRow;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
        }
    }

    // Project Summary
    .summary-flex-container {
        h3 {
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        // For Brief and CTAs
        .primary-summary-container {
            @include flexColumn;
            flex-direction: column-reverse;
            
            @include largeTabletQuery {
                @include flexRow;
                justify-content: space-between;
            }

            .brief-container {
                @include largeTabletQuery {
                    width: 70%;
                }
            }

            // CTAs
            .cta-container {
                @include flexColumn;
                align-items: center;

                a {
                    margin: 1rem 1rem 1rem 0;
                    padding: 1rem;
                    background-color: $color__accent;
                    color: $color__invert-text;
                    letter-spacing: 0.5px;
                    text-transform: capitalize;
                    transition: all 0.3s linear;

                    &:hover,
                    &:focus {
                        box-shadow: $color__button-hover-shadow;
                        transform: translateY(-0.25em);
                        transition: all 0.3s linear;
                    }

                    &:first-child {
                        background-color: $color__secondary-accent;
                        padding: 1rem 2.25rem;
                    }
                    &:nth-child(2) {
                        padding: 1rem 1.25rem;
                    }
                }
            }
        }

        // For Platforms and Technologies
        .secondary-summary-container {
            @include largeTabletQuery {
                @include flexRow;
                margin: 2rem auto;
            }

            article {
                @include largeTabletQuery {
                    margin-right: 4rem;
                }
            }

            ul {
                @include largeTabletQuery {
                    @include flexRow;
                }

                li {
                    @include largeTabletQuery {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    .my-roles {
        display: none;
    }
}
