@use "../../base/variables" as *;
@use "../../base/mixins" as *;

nav {
    ul {
        @include flexRow;
        justify-content: space-between;

        li {
            transition: all 0.3s ease-out;

            &:hover,
            &:focus {
                    transform: translateY(-0.25em);
                    transition: all 0.3s ease-out; 
                }

            a {
                padding: 1rem;
                transition: all 0.3s ease-out;

                &:hover,
                &:focus {
                    font-weight: 600;
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
}