@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.page-about {
    @include tabletQuery {
        padding-top: 6rem;
    }
    // height: 100vh;
    // overflow-y: scroll;
    // z-index: 60;

    // Hide Scroll Bar
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // Internet Explorer 10+

    @include desktopQuery {
        max-width: 820px;
        margin: 0 auto;
    }

    .bio-container {
        @include tabletQuery {
            margin-bottom: 5rem;
        }
        @include desktopQuery {
            display: flex;
            justify-content: space-between;
        }

        .bio-img-container {
            width: 200px;
            height: 200px;
            margin: 1.5rem auto;

            @include tabletQuery {
                width: 250px;
                height: 250px;
            }
            @include desktopQuery {
                order: 1;
                margin: 1.25rem 0;
            }

            img {
                border-radius: 50%;
            }
        }

        .bio-text-container {
            @include desktopQuery {
                width: 550px;
            }

            .location {
                font-weight: 600;
            }
        }
    }

    .skills-container {
        h3 {
            text-transform: capitalize;
        }
        div {
            @include tabletQuery {
                @include flexRow;
                justify-content: space-between;
                width: 70%;
            }
            @include desktopQuery {
                width: 60%;
            }
        }
    }
}

// Hide scroll bar for Safari Browser
.page-about::-webkit-scrollbar {
    // WebKit
    width: 0;
    height: 0;
}
