@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.page-about {
    padding-top: 6rem;
    height: 100vh;
    // overflow-y: scroll;
    z-index: 60;
    
    // Hide Scroll Bar
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // Internet Explorer 10+
    
    .flex-container {

        @include desktopQuery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: end;
        }
    }

    .profile-img-container {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding-bottom: 1.5rem;

        @include tabletQuery {
            width: 300px;
            height: 300px;
        }

        @include desktopQuery {
            width: 400px;
            height: 400px;
            order: 1;
            margin: 0;
        }

        img {
            border-radius: 50%;
        }
    }

    .location {
        font-weight: 600;
    }

    .skills-container {
        div {
            @include tabletQuery {
                @include flexRow;
                justify-content: space-between;
                width: 70%;
            }
            @include desktopQuery {
                width: 60%;
            }
        }
    }
}

// Hide scroll bar for Safari Browser
.page-about::-webkit-scrollbar { // WebKit
    width: 0;
    height: 0;
}