@use '../base/variables' as *;

// GENERAL
html {
    position: relative;
}

// TYPOGRAPHY
body {
    margin: 0;
    background-image: $color__background-gradient;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: $font__body;
    color: $color__main-text;

    a {
        color: $color__main-text;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: $color__accent;
        }
    }
}

h1 {
    font-family: $font__heading;
}

ul {
    list-style: none;
    padding: 0;
}

// MEDIA
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// LAYOUT
.wrapper {
    max-width: 1200px;
    margin: 2.5rem 1rem;

    @media (min-width: $tablet) {
        margin: 6rem 2rem 0;
    }

    @media (min-width: $desktop) {
        margin: 8rem auto 0;
    }
}